.txt-gradient {
  background-color: $white;
  background-image: linear-gradient(90deg, #0d99ff 0%, #99faf4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  // .char {
  //   transform: none !important;
  // }
}

.txt-gradient-static {
  @include gradient-base(90deg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-icon-wrapper {
  overflow: hidden;
  background: rgba(255, 251, 251, 0.2);
  backdrop-filter: blur(10px);
  will-change: transform;
  border-radius: 100%;
  width: 24px;
  height: 24px;

  .arrow-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0%, 0px);
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 8px;
      height: 8px;
    }

    &.arrow-icon-hover {
      left: -100%;
    }
  }

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;

    .arrow-icon {
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}

// cards

.card {
  &:hover {
    .arrow-icon-wrapper {
      .arrow-icon {
        transform: translate3d(100%, -100%, 0px);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card-effect-01 {
  .card {
    --border-angle: 0turn;

    &:before {
      content: "";
      @include abs;
      @include gradient-y(#dadada, #5a5a5a);
      @include card-borders();
    }

    &:after {
      content: "";
      @include abs;
      background-image: conic-gradient(from var(--border-angle), #695cff, #ffffff, #695cff);
      @include card-borders();
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    .card-inner {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:before {
        background: url(../img/bg/service-bg-lg.svg) no-repeat;
        background-size: cover;
        width: 900px;
        height: 900px;
        left: 100%;
        bottom: 100%;
        transform: translate3d(-45%, 60%, 0);
      }

      &:after {
        right: 100%;
        top: 100%;
        background: url(../img/bg/service-bg-lg.svg) no-repeat;
        background-size: cover;
        width: 800px;
        height: 800px;
        transform: translate3d(60%, -50%, 0);
      }

      .card-image {
        opacity: 0;
        transition: opacity 0.4s ease;
        mix-blend-mode: screen;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        animation: bg-spin 3s linear infinite;
      }

      .card-inner {
        &:before,
        &:after {
          opacity: 1;
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:focus {
      &:before {
        background-color: $headline-color;
      }

      .card-inner {
        &:before,
        &:after {
          background-color: rgba(112, 0, 255, 0.3);

          @include media-breakpoint-up(lg) {
            background-color: rgba(112, 0, 255, 0.15);
          }
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:active {
      &:after {
        opacity: 1;
        animation: bg-spin 3s linear infinite;
      }

      .card-inner {
        &:before,
        &:after {
          background-color: rgba(112, 0, 255, 0.3);

          @include media-breakpoint-up(lg) {
            background-color: rgba(112, 0, 255, 0.15);
          }
        }
      }

      .card-image {
        opacity: 1;
      }
    }
  }
}

.card-effect-02 {
  --rotate: 0deg;

  @keyframes rotateBg1 {
    0% {
      left: 0;
      top: 0;
      transform: translate3d(-35%, -35%, 0);
    }
    25% {
      left: 100%;
      top: 0;
      transform: translate3d(-65%, -35%, 0);
    }
    50% {
      left: 100%;
      top: 100%;
      transform: translate3d(-65%, -65%, 0);
    }
    75% {
      left: 0;
      top: 100%;
      transform: translate3d(-35%, -65%, 0);
    }
    100% {
      left: 0;
      top: 0;
      transform: translate3d(-35%, -35%, 0);
    }
  }

  @keyframes rotateBg2 {
    0% {
      left: 100%;
      top: 100%;
      transform: translate3d(-65%, -65%, 0);
    }
    25% {
      left: 0;
      top: 100%;
      transform: translate3d(-35%, -65%, 0);
    }
    50% {
      left: 0;
      top: 0;
      transform: translate3d(-35%, -35%, 0);
    }
    75% {
      left: 100%;
      top: 0;
      transform: translate3d(-65%, -35%, 0);
    }
    100% {
      left: 100%;
      top: 100%;
      transform: translate3d(-65%, -65%, 0);
    }
  }

  .card {
    z-index: 1;

    &:before {
      content: "";
      @include abs;
      @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
      @include card-borders();
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-image: linear-gradient(var(--rotate), #99faf4, #0d99ff);
      background-color: #0d99ff;
      @include card-borders();
    }

    .card-inner {
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
    }
  }

  &.active {
    &:before,
    &:after {
      opacity: 1;
    }
    &:before {
      animation: rotateBg1 2.5s linear 0s infinite forwards;
    }
    &:after {
      animation: rotateBg2 2.5s linear 0s infinite forwards;
    }
  }

  &:hover,
  &:focus,
  &.active {
    .card {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
        animation: spin 2.5s linear infinite;
      }

      .card-inner {
        background-color: $black;
      }
    }
  }
}

.card-effect-03 {
  position: relative;

  .card {
    border: 1px solid #434343;
    @include card-borders();
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #434343;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(45deg) translate3d(56%, 0, 0);
      opacity: 0.7;

      @include media-breakpoint-up(xl) {
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate3d(59%, 0, 0);
      }
    }
  }
}

.card-effect-04 {
  --rotate: 0deg;
  position: relative;
  &:before {
    content: "";
    @include abs;
    @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
    @include card-borders();
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    background-color: #0d99ff;
    @include card-borders();
  }

  .card {
    overflow: hidden;
    display: block;

    &:before {
      position: absolute;
      content: "";
      width: 628px;
      height: 628px;
      left: 160px;
      top: 231px;
      margin: 0 auto;
      // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
      background-color: #99faf4;
      opacity: 0;
      transition: all 0.3s;
      will-change: transform;
    }

    .card-inner {
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
    }
  }

  &:hover,
  &:focus,
  &.active {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
      // animation: spin 2.5s linear infinite;
    }

    .card {
      &:before {
        filter: blur(50px);
        opacity: 1;
        // animation: spin 2.5s linear infinite;
      }

      .card-inner {
        background: $black;
      }
    }
  }
}

.card-effect-05 {
  --border-angle: 0turn;

  .card {
    &:before {
      content: "";
      @include abs;
      @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
      @include card-borders();
    }

    &:after {
      content: "";
      @include abs;
      background-image: conic-gradient(from var(--border-angle), var(--gradient-start), $white, var(--gradient-start));
      @include card-borders();
      transition: opacity 0.3s ease;
      opacity: 0;

      @include media-breakpoint-down(lg) {
        opacity: 1;
      }
    }

    .card-inner {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
      position: relative;

      // &:before,
      // &:after {
      //   content: "";
      //   position: absolute;
      //   opacity: 0;
      //   transition: opacity 0.3s ease;
      // }

      // &:before {
      //   left: 0;
      //   top: 0;
      //   width: 258px;
      //   height: 254px;
      // }
      // &:after {
      //   right: 0;
      //   bottom: 0;
      //   width: 267px;
      //   height: 279px;
      // }

      .card-image {
        opacity: 0;
        transition: opacity 0.4s ease;
        mix-blend-mode: screen;

        @include media-breakpoint-down(lg) {
          opacity: 1;
        }
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      // .card-inner {
      //   &:before,
      //   &:after {
      //     opacity: 1;
      //   }
      // }

      .card-image {
        opacity: 1;
      }
    }

    &:focus {
      &:before {
        background: $headline-color;
      }

      // .card-inner {
      //   &:before,
      //   &:after {
      //     opacity: 1;
      //   }
      // }

      .card-image {
        opacity: 1;
      }
    }

    &:active {
      &:after {
        opacity: 1;
      }

      // .card-inner {
      //   &:before,
      //   &:after {
      //     opacity: 1;
      //   }
      // }

      .card-image {
        opacity: 1;
      }
    }

    &.disabled {
      pointer-events: none;
      &:before {
        background: $dark;
      }
      h3,
      p {
        color: #434343;
      }
      .arrow-icon-wrapper {
        display: none;
      }
      .card-image {
        opacity: 1;
      }
    }
  }

  &--color-green {
    --gradient-start: #30db74;
    --overlay: #0b2516;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-green-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-green-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-blue {
    --gradient-start: #0d99ff;
    --overlay: #061b2a;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-blue-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-blue-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-purple {
    --gradient-start: #695cff;
    --overlay: #14122a;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-purple-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-purple-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-orange {
    --gradient-start: #ffae33;
    --overlay: #2a1e0c;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-yellow-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-yellow-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-red {
    --gradient-start: #ff544b;
    --overlay: #2a110f;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-red-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-red-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-lightblue {
    --gradient-start: #62d3ff;
    --overlay: #13242a;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-lightblue-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-lightblue-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }

  &--color-yellow {
    --gradient-start: #ffd426;
    --overlay: #2a240a;

    // .card {
    //   .card-inner {
    //     &:before {
    //       background: url(../img/bg/service-lightyellow-top.svg) no-repeat;
    //     }
    //     &:after {
    //       background: url(../img/bg/service-lightyellow-bottom.svg) no-repeat;
    //     }
    //   }
    // }
  }
}

.card-effect-06 {
  @extend .card-effect-03;

  .card-icon {
    overflow: hidden;

    .card-icon-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate3d(0, 0, 0);
      will-change: transform;
      transition: transform 0.3s ease;
    }
  }

  // &:hover {
  //   .card-icon {
  //     .card-icon-inner {
  //       transform: translate3d(0, -100%, 0);
  //     }
  //   }
  // }
}

.card-effect-07 {
  position: relative;

  &:before {
    content: "";
    @include abs;
    @include gradient-y(rgba(#e9eef1, 0.5), rgba(#1e1e1e, 0.5));
    @include card-borders();
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include gradient-base;
    @include card-borders();
  }

  .card {
    overflow: hidden;
    display: block;
    padding: 1px;

    .card-inner {
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
      @include card-borders();
    }
  }

  &:hover,
  &:focus,
  &.active {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }

    .card {
      .card-inner {
        background: $black;
      }
    }
  }
}

// lines
.line-animated {
  width: 100%;
  border: 1px solid #434343;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  height: 5px;
  transform: scaleX(0);
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-60% + var(--offset));
  font-weight: 400;
  font-size: 10.43rem;
  line-height: 80%;
  letter-spacing: -0.05em;
  margin: 0 0 30px;

  .marquee__wrap {
    transform: translateX(0);
    transition: all 1s ease-out;
  }

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 7s linear infinite;
    animation-play-state: running;
    white-space: nowrap;
    text-align: center;
  }

  span {
    padding: 0 2vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 21vw;
  }
}

.plane-animation {
  .marquee {
    --offset: 0vw;
    --move-final: calc(-12.5% + var(--offset));
    --move-initial: calc(-37.5% + var(--offset));
    margin: 0;

    .marquee__inner {
      animation-duration: 10s;
    }

    span {
      padding: 0 50px;
    }
  }

  @include media-breakpoint-up(lg) {
    span {
      padding: 0 120px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

// .scroller {
//   overflow: hidden;
//   ul {
//     li {
//       .txt-lg {
//         opacity: 0;
//       }
//       p {
//         opacity: 0;
//       }
//     }
//   }
// }

.page-footer {
  @include media-breakpoint-up(lg) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }
}
