.blocker {
  background: $dark;
  padding: 66px 20px;
  overflow: hidden;
  z-index: 99999;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1414px, 105px, -700px);

  @include media-breakpoint-up(xl) {
    padding: 116px 20px;
  }
}

.modal {
  height: 100%;
  max-height: 750px;
  max-width: 900px;
  overflow: hidden;
  @include gradient-y(rgba(#050505, 1), rgba(#191919, 1));
  @include card-borders($r1: 20px, $r2: 50px, $r3: 20px, $r4: 50px, $clip1: 35px, $clip2: 35px);
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    @include gradient-y(rgba(#e9eef1, 0.5), rgba(#1e1e1e, 0.5));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    @include card-borders($r1: 20px, $r2: 50px, $r3: 20px, $r4: 50px, $clip1: 35px, $clip2: 35px);
  }

  .m-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
  }

  .modal-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .modal-header {
      flex: 0 0 auto;
      padding: 19px 75px 19px 19px;

      h3 {
        line-height: 1.2;
        max-width: 470px;

        @include media-breakpoint-down(sm) {
          font-size: 18px;
          letter-spacing: 0;
        }
      }
    }

    .modal-content {
      height: 100%;
      padding: 0 20px;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: #373737 transparent;

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #373737;
        border-radius: 3px;
        border: none;
      }
    }
  }

  .modal-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include gradient-y(rgba(#050505, 1), rgba(#191919, 1));
    @include card-borders($r1: 20px, $r2: 50px, $r3: 20px, $r4: 50px, $clip1: 35px, $clip2: 35px);
    border-radius: 0 0 50px 20px !important;
    overflow: hidden;
    padding: 16px 22px 20px 13px;

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 1px;
      @include gradient-y(rgba(#e9eef1, 0.5), rgba(#1e1e1e, 0.5));
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      @include card-borders($r1: 20px, $r2: 50px, $r3: 20px, $r4: 50px, $clip1: 35px, $clip2: 35px);
      border-radius: 0 0 50px 20px !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .m-close {
      top: 30px;
      right: 30px;
    }
    .modal-inner {
      .modal-header {
        padding: 33px 39px 28px;
      }
      .modal-content {
        padding-left: 36px;
        margin-right: 10px;
      }
    }

    .modal-footer {
      padding: 14px 28px 16px 19px;
    }
  }
}
.modal-job {
  .modal-inner {
    padding: 0 0 185px;
  }
  @include media-breakpoint-up(sm) {
    .modal-inner {
      padding: 0 0 116px;
    }
  }
  @include media-breakpoint-up(md) {
    .modal-inner {
      padding: 0 0 128px;
    }
  }
}
