.search-form {
  .field {
    position: relative;

    input {
      display: block;
      width: 100%;
      padding: 0 30px 10px 0;
      color: var(--theme-color);
      background: none;
      border: none;
      border-bottom: 1px solid var(--theme-color);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      font-family: $ff-modernist;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      outline: none;
      box-shadow: none;
      @include placeholder-text(var(--theme-color), 0.5);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      padding: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 2px;

      svg {
        display: block;
        path {
          fill: var(--theme-color);
        }
      }
    }
  }
}
