.swiper-initialized {
  position: relative;
}

.swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  right: 27px;
  top: 50%;
  z-index: 19;
  transform: translateY(calc(-50% - 12px));

  img {
    display: block;
    position: relative;
    z-index: 1;
    width: 8px;
    height: 8px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $headline-color;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: all 0.3s;
  }

  &:hover {
    &:before {
      transform: translate3d(-50%, -50%, 0) scale(0.8);
    }
  }

  &:focus {
    border: 1px solid $dark;
  }

  &:active,
  &:target {
    &:before {
      transform: translate3d(-50%, -50%, 0) scale(0.8);
    }
  }

  &.swiper-button-disabled {
    display: none !important;
  }

  @include media-breakpoint-up(md) {
    display: block;
    right: 40px;
    transform: translateY(-50%);

    &:before {
      width: 100px;
      height: 100px;
    }

    img {
      width: auto;
      height: auto;
    }
  }
}

.swiper-scrollbar-horizontal {
  background: rgba(255, 255, 255, 0.1);
  margin: 20px 0 0;
  height: 4px;
  border-radius: 4px;

  .swiper-scrollbar-drag {
    background-color: $headline-color;
    height: 100%;
    border-radius: inherit;
  }

  @include media-breakpoint-up(lg) {
    margin: 40px 0 0;
    height: 6px;
  }
}

.swiper-01 {
  @include media-breakpoint-down(sm) {
    .swiper-wrapper {
      display: block;
    }
    .swiper-slide {
      margin: 0 0 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .swiper-slide {
      width: 340px;
      margin: 0 0 12px;
    }
  }

  @include media-breakpoint-up(lg) {
    .swiper-slide {
      width: 470px;
    }
  }

  @include media-breakpoint-up(xl) {
    .swiper-slide {
      width: 555px;
    }
  }
}

.swiper-11 {
  @include media-breakpoint-down(sm) {
    .swiper-wrapper {
      display: block;
    }
    .swiper-slide {
      margin: 0 0 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .swiper-slide {
      width: 340px;
      margin: 0 0 12px;
    }
    .swiper-button-prev {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .swiper-slide {
      width: 470px;
    }
  }

  @include media-breakpoint-up(xl) {
    .swiper-slide {
      width: 555px;
    }
  }
}

.swiper-02 {
  .swiper-slide {
    width: 335px;

    @include media-breakpoint-up(sm) {
      width: 340px;
    }

    @include media-breakpoint-up(lg) {
      width: 440px;
    }
  }
}

.swiper-03 {
  .swiper-slide {
    width: 335px;
  }
}

.swiper-04 {
  .swiper-slide {
    width: 325px;
  }
}

.swiper-05,
.swiper-051 {
  .swiper-slide {
    width: 335px;

    .card-type-10,
    .card-effect-06 {
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-051 {
  .swiper-slide {
    width: 335px;

    .card-type-10,
    .card-effect-06 {
      width: 100%;
      height: 100%;
    }

    .card-type-08 {
      .card-inner {
        .card-icon {
          margin: 0 0 62px;
        }
        .card-text h3 {
          @include media-breakpoint-down(lg) {
            br {
              display: none;
            }
          }
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    transform: translateY(calc(-50% - 12px));
  }

  @include media-breakpoint-up(lg) {
    .swiper-wrapper {
      display: flex;
      border: 1px solid #434343;
      @include card-borders();
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #434343;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(45deg) translate3d(45%, 0, 0);

        @include media-breakpoint-up(xl) {
          width: 40px;
          height: 40px;
          transform: rotate(45deg) translate3d(58%, 0, 0);
        }
      }

      .swiper-slide {
        margin: 0;
        width: 32.4%;

        .card-effect-06 {
          .card {
            border: none;
            clip-path: none;

            &:before {
              display: none;
            }
          }
        }

        .card-type-08 {
          .card-inner {
            .card-icon {
              margin: 0 0 83px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .swiper-wrapper {
      &:before {
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate3d(58%, 0, 0);
      }

      .swiper-slide {
        width: 32% !important;

        &:last-child {
          width: 36% !important;
        }

        .card-type-08 {
          .card-inner {
            padding: 40px 60px 40px 40px;
          }
        }
      }
    }
  }
}

.swiper-11 {
  @include media-breakpoint-up(sm) {
    margin: 0 -13px 0 0;
    overflow: hidden;
  }
  @include media-breakpoint-up(xl) {
    margin: 0 -40px 0 0;
  }
  @include media-breakpoint-up(xxl) {
    margin: 0 -150px 0 0;
  }
}

.swiper-08 {
  .swiper-slide {
    width: 335px;

    @include media-breakpoint-up(sm) {
      width: 340px;
    }
  }

  @include media-breakpoint-up(lg) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
  }
}

.swiper-09 {
  overflow: hidden;

  .slide-title {
    font-weight: 500;
    font-size: 70px;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: $headline-color;
    margin: 17px 0 118px;
    display: inline-block;
    padding: 0 5px 0 0;

    small {
      font-size: 50px;
    }
  }

  .slide-text {
    letter-spacing: -0.01em;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;

    h3 {
      margin: 0 0 6px;
    }
  }

  @include media-breakpoint-up(md) {
    .swiper-button-prev,
    .swiper-button-next {
      right: 45px;
      top: 41%;
    }
  }

  @include media-breakpoint-up(lg) {
    .slide-title {
      margin: 60px 0 118px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 0 20px 0 0;

    .slide-title {
      font-size: 120px;
      margin: 83px 0 158px;

      small {
        font-size: 80px;
        margin-left: 6px;
      }
    }

    .slide-text {
      font-size: 28px;
      line-height: 1.2;

      h3 {
        margin: 0 0 9px;
      }
    }
  }
}
