.socials {
  display: flex;
  align-items: center;

  a,
  svg {
    display: block;
  }

  svg {
    path {
      transition: all 0.2s;
      fill: var(--theme-color);
    }
  }

  a {
    &:hover {
      svg {
        path {
          fill: var(--highlight-color);
        }
      }
    }
  }
}
