.blog-page {
  min-height: 100vh;
  padding: 0 0 40px;

  .blog-page-header {
    padding: 70px 0 0;

    h1 {
      color: var(--highlight-color);
      margin: 0 0 28px;
    }

    p {
      opacity: 0.8;
      margin: 0 40px 29px 0;
      line-height: 1.5;
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        &:last-child {
          margin: 0;
        }
      }

      @include media-breakpoint-up(xs) {
        justify-content: flex-start;
        column-gap: 24px;
      }
    }
  }

  .blog-page-content {
    padding: 12px 0 0;
  }

  .cat-list {
    margin: 0 0 35px;

    &--hidden {
      margin: 0 260px 0 0;
    }
  }

  .btn-more-categories {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    border-bottom: 1px solid var(--highlight-color);
    font-family: $ff-azeret;
    color: var(--highlight-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 40px;
    padding: 0;

    svg {
      display: block;
      transition: all 0.2s;
      margin-left: 10px;
      path {
        transition: all 0.2s;
        fill: var(--highlight-color);
      }
    }

    &.active,
    &:hover {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  .search-form {
    margin: 0 0 38px;
  }

  .blog-list-wrapper {
    padding: 4px 0 10px;

    .blog-list {
      padding: 48px 0 46px;
    }
  }

  .category-link-mobile {
    width: 140px;
    padding: 5px 0 6px;

    a {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid var(--theme-color);
      font-family: $ff-modernist;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      width: 100%;
      color: var(--theme-color);

      svg {
        display: block;
        transition: all 0.2s;
        path {
          transition: all 0.2s;
          fill: var(--theme-color);
        }
      }

      &.active,
      &:hover {
        color: var(--highlight-color);
        border-color: var(--highlight-color);

        svg {
          transform: rotate(-90deg);
          path {
            fill: var(--highlight-color);
          }
        }
      }
    }
  }

  .btn-more-categories-accordion {
    margin: 33px 0 30px;
  }

  .cat-mobile-hidden {
    display: none;
    padding: 15px 0 45px;
  }

  @include media-breakpoint-up(lg) {
    .blog-page-header {
      padding: 91px 0 0;

      h1 {
        margin: 0 0 8px;
      }

      p {
        font-size: 20px;
        margin: 0 0 67px;
      }
    }

    .blog-page-content {
      padding: 70px 0 0;
    }

    .btn-more-categories {
      margin: 0;
    }

    .search-form {
      margin: 0;
    }

    .category-link-mobile,
    .btn-more-categories-accordion {
      display: none;
    }

    .blog-list-wrapper .blog-list {
      padding: 95px 0 23px;
    }
  }
}
