@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "sk-modernist";
  src: url("../fonts/sk-modernist-bold-webfont.woff2") format("woff2"), url("../fonts/sk-modernist-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "general_sans";
  src: url("../fonts/generalsans-regular-webfont.woff2") format("woff2"), url("../fonts/generalsans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "general_sans";
  src: url("../fonts/generalsans-medium-webfont.woff2") format("woff2"), url("../fonts/generalsans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "general_sans";
  src: url("../fonts/generalsans-semibold-webfont.woff2") format("woff2"), url("../fonts/generalsans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "general_sans";
  src: url("../fonts/generalsans-bold-webfont.woff2") format("woff2"), url("../fonts/generalsans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
