.header {
  padding: 7px 0;
  border-bottom: 1px solid var(--theme-rgba);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  will-change: transform;
  transition: transform 0.3s;

  &.headroom--pinned {
    transform: translateY(0);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &.menu-opened {
    .header-meta {
      .theme-switch,
      .btn-wrapper {
        opacity: 0;
      }
    }
  }

  .container-fluid {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    color: var(--theme-color);
    a {
      display: flex;
      width: 80px;
      align-items: center;
      font-family: $ff-azeret;
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      text-decoration: none;

      img {
        display: block;
        margin: 4px 4px 0 0;
      }
    }
  }

  .theme-switch {
    border: 1px solid var(--theme-rgba);
    border-radius: 100px;
    padding: 1px;
    width: 61px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 28px;
      height: 28px;
      border: 1px solid transparent;

      svg {
        path {
          transition: all 0.2s;
        }
      }

      &.active {
        background-color: var(--theme-rgba);
        border-color: #495e1b;
      }

      &:hover {
        background-color: rgba($primary, 0.1);
        border-color: #495e1b;
      }

      &:first-child:hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
      &:last-child:hover {
        svg {
          path {
            stroke: $primary;
          }
        }
      }
    }
  }

  .btn-wrapper {
    margin: 0 13px 0 9px;
    position: relative;
    z-index: 2;

    .btn {
      display: flex;
      pointer-events: none;
    }

    .tooltip {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--body-bg);
      border: 1px solid var(--highlight-color);
      border-radius: 35px;
      height: 23px;
      line-height: 21px;
      padding: 0 11px;
      font-weight: 400;
      font-size: 13.8286px;
      color: var(--highlight-color);
      white-space: nowrap;

      @include media-breakpoint-down(xl) {
        left: auto;
        right: 50%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .logo {
      width: 157px;
      flex: 0 0 auto;
    }

    .btn-wrapper {
      margin: 0 0 0 25px;
    }
  }

  @include media-breakpoint-up(xl) {
    .logo {
      width: 194px;
      a {
        width: auto;
        font-size: 12px;

        img {
          margin: 4px 5px 0 0;
        }
      }
    }
  }
}
