// Fonts
$font-family-base: "general_sans", sans-serif;
$ff-azeret: "Azeret Mono", monospace;
$ff-modernist: "sk-modernist";

// Colors
$white: #fff;
$black: #000;

$primary: #b9ff1f;
$primary-light: #84bf00;

$text-color: $white;

$placeholder-color: $text-color;
$error: #ff4140;

$red: #fe0100;
$green: #b9ff1f;
$yellow: #e9cc14;

// Container

$content-max: 1440px;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1700px,
);
